In [1]:
import pandas as pd

non_depressed_tweets = "./positive.csv"
df = pd.read_csv(non_depressed_tweets)

C:\Users\HP\anaconda3\envs\tf_env\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df.head()

,ItemID,Sentiment,SentimentSource,SentimentText,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,1,0,Sentiment140,is so sad for my APL frie...,NaN,NaN,NaN
1,2,0,Sentiment140,I missed the New Moon trail...,NaN,NaN,NaN
2,3,1,Sentiment140,omg its already 7:30 :O,NaN,NaN,NaN
3,4,0,Sentiment140,.. Omgaga. Im sooo im gunna CRy. I'...,NaN,NaN,NaN
4,5,0,Sentiment140,i think mi bf is cheating on me!!! ...,NaN,NaN,NaN

In [3]:
df.columns
cols = ['Sentiment', "SentimentText"]

In [4]:
drop = []
for x in df.columns:
    if x not in cols:
        drop.append(x)
print(drop)

['ItemID', 'SentimentSource', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']

In [5]:
df = df.drop(columns=drop, axis=1)

In [6]:
df.head()

   Sentiment                                      SentimentText
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...

In [7]:
len(df)

1048574

In [8]:
df = df[df.Sentiment == 1]

In [9]:
df["Sentiment"] = 0

In [10]:
df.head

<bound method NDFrame.head of          Sentiment                                      SentimentText
2                0                            omg its already 7:30 :O
6                0                 Juuuuuuuuuuuuuuuuussssst Chillin!!
8                0        handed in my uniform today . i miss you ...
9                0           hmmmm.... i wonder how she my number @-)
11               0        thanks to all the haters up in my face a...
...            ...                                                ...
1048410          0  Missing @twisteddspirit, why did you have to m...
1048427          0  Missing Amarillo and the lake, but loving Temp...
1048429          0  Missing both her baby's,...on my way 2 work,.....
1048461          0  Missing hangin with my favs @Amandaxrae and @s...
1048555          0  missing my daddio and laughing with him. i get...

[554470 rows x 2 columns]>

In [11]:
len(df)

554470

In [12]:
df = df[:5000]

In [13]:
df.rename(columns = {'Sentiment' : 'target', 'SentimentText' : 'tweet'}, inplace=True)

C:\Users\HP\anaconda3\envs\tf_env\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [14]:
df['tweet_cleaned'] = df['tweet'].str.replace("@", "")

<ipython-input-14-169256db68a8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tweet_cleaned'] = df['tweet'].str.replace("@", "")

In [15]:
df

,target,tweet,tweet_cleaned
2,0,omg its already 7:30 :O,omg its already 7:30 :O
6,0,Juuuuuuuuuuuuuuuuussssst Chillin!!,Juuuuuuuuuuuuuuuuussssst Chillin!!
8,0,handed in my uniform today . i miss you ...,handed in my uniform today . i miss you ...
9,0,hmmmm.... i wonder how she my number @-),hmmmm.... i wonder how she my number -)
11,0,thanks to all the haters up in my face a...,thanks to all the haters up in my face a...
...,...,...,...
11319,0,(@courtneynewton) OMG SHUT UP!!! (sorry. still...,(courtneynewton) OMG SHUT UP!!! (sorry. still ...
11320,0,"(@CoxRocks) Ha, the lead singer gave me a high...","(CoxRocks) Ha, the lead singer gave me a high ..."
11321,0,"(@danielleejonas) UGH, i love tila. haters nee...","(danielleejonas) UGH, i love tila. haters need..."
11325,0,(@ericholscher) Note to self: Ctrl-D = Page Up...,"(ericholscher) Note to self: Ctrl-D = Page Up,..."
11327,0,"(@FTSKim) 96 on my term paper, suck my nuts.","(FTSKim) 96 on my term paper, suck my nuts."

In [16]:
df["tweet_cleaned"] = df["tweet_cleaned"].str.replace(r"http\S+", "")
df.head()

<ipython-input-16-89fe7d15c17c>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["tweet_cleaned"] = df["tweet_cleaned"].str.replace(r"http\S+", "")
<ipython-input-16-89fe7d15c17c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["tweet_cleaned"] = df["tweet_cleaned"].str.replace(r"http\S+", "")

,target,tweet,tweet_cleaned
2,0,omg its already 7:30 :O,omg its already 7:30 :O
6,0,Juuuuuuuuuuuuuuuuussssst Chillin!!,Juuuuuuuuuuuuuuuuussssst Chillin!!
8,0,handed in my uniform today . i miss you ...,handed in my uniform today . i miss you ...
9,0,hmmmm.... i wonder how she my number @-),hmmmm.... i wonder how she my number -)
11,0,thanks to all the haters up in my face a...,thanks to all the haters up in my face a...

In [17]:
df["tweet_cleaned"] = df["tweet_cleaned"].str.replace("[^a-zA-Z]", " ")
df.head()

<ipython-input-17-7324d5ef46a6>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["tweet_cleaned"] = df["tweet_cleaned"].str.replace("[^a-zA-Z]", " ")
<ipython-input-17-7324d5ef46a6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["tweet_cleaned"] = df["tweet_cleaned"].str.replace("[^a-zA-Z]", " ")

,target,tweet,tweet_cleaned
2,0,omg its already 7:30 :O,omg its already O
6,0,Juuuuuuuuuuuuuuuuussssst Chillin!!,Juuuuuuuuuuuuuuuuussssst Chillin
8,0,handed in my uniform today . i miss you ...,handed in my uniform today i miss you ...
9,0,hmmmm.... i wonder how she my number @-),hmmmm i wonder how she my number
11,0,thanks to all the haters up in my face a...,thanks to all the haters up in my face a...

In [18]:
df = df.drop(columns=["tweet"], axis=1)

In [19]:
len(df)

5000

In [20]:
df = df.reset_index(drop=True)
df.to_csv("./cleaned/non_depressed_cleaned.csv")

In [21]:
df

      target                                      tweet_cleaned
0          0                            omg its already       O
1          0                 Juuuuuuuuuuuuuuuuussssst Chillin
2          0        handed in my uniform today   i miss you ...
3          0            hmmmm     i wonder how she my number
4          0        thanks to all the haters up in my face a...
...      ...                                                ...
4995       0   courtneynewton  OMG SHUT UP     sorry  still ...
4996       0   CoxRocks  Ha  the lead singer gave me a high ...
4997       0   danielleejonas  UGH  i love tila  haters need...
4998       0   ericholscher  Note to self  Ctrl D   Page Up ...
4999       0        FTSKim     on my term paper  suck my nuts

[5000 rows x 2 columns]